#first-step{
    padding: 32px;
}
.identification{
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
}
.identification > span{
    margin-bottom: 6px;
}
.input-error-message{
    color: red;
    font-size: 13px;
    margin: 7px 0 0 6px;
}
.input-error .input-error-message{
    display: block;
}
.red-border{
    border: 2px solid red !important; 
}
.input-field{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
}
.input-field > img{
    position: absolute;
    left: 18px;
    color: white;
    width: 23px;
}
.input-field > label{
    color: rgb(121, 121, 121);
    font-weight: 400;
    font-size: 15px;
}
.input-field > input{
    font-family: 'Inter';
    width: 100%;
    padding: 18px 12px 18px 48px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.09);
    font-size: 14px;
    font-weight: 400;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0),rgb(1, 30, 37));
    color: #fff !important;
}
.input-field > input::placeholder{
    color: rgb(121, 121, 121);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgb(1, 30, 37)  inset;
  -webkit-text-fill-color: #fff;
}