.checkout-indexes{
    padding: 40px 32px 32px 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    background: none;
}
.checkout-indexes button{
    margin-bottom: 30px;
}
.checkout-indexes-container{
    display: flex;
    width: 90%;
    justify-content: space-between;
    gap: 40px;
    position: relative;
}
.checkout-index{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    z-index: 2;
    position: relative;
    background: #051e29;
    color: #fff;
}
.checkout-index > div{
    z-index: 3;
}
.checkout-index::before{
    content: "";
    position: absolute;
    inset: 0;
    background: none;
    z-index: 1;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgb(14, 118, 45), rgb(16, 183, 158));
    opacity: 0;
    transition: .35s all;
}
.checkout-index.active::before{
    animation: opacity 0.35s ease-out forwards;
    animation-delay: 450ms;
}
.checkout-index > span{
    font-size: 13px;
    position: absolute;
    bottom: -75%; 
    color: #c3c3c3;
    font-weight: 500;
}
@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes index{
    from{
        background: #051a24;
    }
    to{
        background: linear-gradient(to bottom, rgb(14, 118, 45), rgb(16, 183, 158)); 
    }
}
.bar{
    height: 4px;
    position: absolute;
    place-self: center;
}
.progress-bar{
    transition: width .75s ease-out;
    background: linear-gradient(to bottom, rgb(14, 118, 45), rgb(16, 183, 158));
    z-index: 1;
}
.progress-track{
    width: 100%;
    background: #06222e;
    z-index: 0;
}